* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

main {
  flex: 1;
}

.contenedor {
  display: flex;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.search {
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.sidebar {
  padding: 30px;
  background-color: #fff;
  border-right: 1px solid #ccc;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
}

.contact:hover {
  background-color: #ededed;
}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact h4 {
  margin-bottom: 4px;
  font-size: 16px;
}

.status {
  font-size: 12px;
  color: #666;
}

.status::before {
  content: "•";
  color: red;
}

.status-online::before {
  color: green;
  content: "•";
}

.status-online {
  font-size: 12px;
  color: #666;
}

.chat-abierto {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.chat {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.chat-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}