* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

main {
  flex: 1;
}

.contenedor {
  display: flex;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.search {
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.sidebar {
  padding: 30px;
  background-color: #fff;
  border-right: 1px solid #ccc;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
}

.contact:hover {
  background-color: #ededed;
}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact h4 {
  margin-bottom: 4px;
  font-size: 16px;
}

.status {
  font-size: 12px;
  color: #666;
}

.status::before {
  content: "•";
  color: red;
}

.status-online::before {
  color: green;
  content: "•";
}

.status-online {
  font-size: 12px;
  color: #666;
}

.chat-abierto {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 5%;
}

.chat {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.chat-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-header h3 {
  font-size: 18px;
  margin-right: auto;
}

.chat-header p {
  font-size: 12px;
  color: #666;
}

.chat-actions {
  display: flex;
  gap: 10px;
}

.chat-actions button {
  padding: 6px 10px;
  border: none;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  gap: 20px;
  background-color: #ebe8e1;
}

.message {
  padding: 10px;
  max-width: 70%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sent {
  background-color: #e2ffc7;
  align-self: self-end;
  text-align: right;

}

.received {
  background-color: #ededed;
  width: 50%;
}

.newly {
  width: 25%;
}

.timestamp {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
  text-align: right;
  display: flex;
}

.chat-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px solid #ccc;
  padding: 1.5rem 1rem
}

.chat-footer input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.chat-footer button {
  border: none;
  background-color: transparent;
  padding: 6px 10px;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width:480px) {
  .sidebar {
    display: none;
  }
}